*{
    padding: 0;
    margin: 0;
}

 body {
    background-color: rgb(105, 105, 242);
    height: 150vh;
 }

 .first-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 60px;
    padding-right: 50px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: navy;
 }


 a {
    color: white;
    text-decoration: none;
 }

 ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
 }

 h2 {
    color: white;
 }

 h1 {
    color: white;
    font-size: xx-large;
 }

 button {
    width: 120px;
    height: 25px;
    color: white;
    background-color: green;
    border-radius: 50px;
 }

 h5 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


 section {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
 }

 .div-one {
 padding-top: 80px;
 }

 .div-two {
 display: flex;
 position: relative;
 }

 .first-container {
    height: 100px;
    width: 600px;
    border-radius: 50px;
    

 }

 .img1 {
  height: 350px;
  width: 260px;
  border-radius: 20px;
 }
 
 .img2 {
   height: 350px;
   width: 260px;
   border-radius: 20px;
   position: relative;
   left: -100px;
   top: -50px;
 }

 span {
   /* text-decoration: underline; */
 }

 .video {
   height: 200px;
   width: 400px;
   margin: auto;
  
 }
 