.blue {
    height: 500px;
    width: 1000px;
    display: flex;
    gap: 40px;
    padding-top: 25px;
    padding-left: 40px;
    margin: auto;
    margin-top: 80px;
    background: linear-gradient(to right, navy, skyblue);
}

.first-section {
    color: white;
    height: 350px;
    padding-top: 10px;
    width: 200px;
    margin-top: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fa-rocket {
    font-size: 40px;
    color: white;
}

h1 {
    font-size: xx-large;
}

.login-button {
    width: 120px;
    height: 30px;
    color: black;
    background-color: white;
    border-radius: 70px;
    font-weight: bolder;
}

.second-section {
    text-align: center;
    height: 450px;
    background-color: white;
    padding-top: 10px;
    width: 720px;
    border-top-left-radius: 90px 300px;
    border-bottom-left-radius: 12% 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.div1 {
    width: 250px;
    height: 36px;
    border: 1px solid;
    border-radius: 60px;
    margin-left: 450px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    display: flex;
    gap: 50px;
    align-items: center;
}

.employee {
    width: 100px;
    text-align: center;
    height: 20px;
    border-radius: 60px;
    margin-left: 3px;
    padding: 5px;
    background-color: white;
    color: navy;
}

.form {
    width: 600px;
    height: 300px;
    padding-top: 15px;
    margin: auto;
    padding-left: 90px;
    
}

#firstname,
#email,
#phone,
#password,
#lastname,
#confirm-password,
#Enter-your-answer {
    width: 226px;
    height: 25px;
    border-radius: 5px;
    padding-left: 6px;
    border: 1px rgb(100, 99, 99) solid;
}

#select {
    height: 30px;
    padding-left: 6px;
    border-radius: 5px;
}

.fn-email {
    display: flex;
    gap: 25px;
}

.ln-number,
.password
{
    display: flex;
    gap: 25px;
}

.password {
    display: flex;
    gap: 25px;
}

.confirm-ppassword {
    display: flex;
    gap: 25px;
}


.radio{
  text-align: left;
   width: 300px;
   margin-top: 5px;
}

.register {
    width: 140px;
    height: 30px;
    color: white;
    border-radius: 70px;
    font-weight: bolder;
    background-color: blue;
}

.register-div {
    margin-top: 30px;
    text-align: right;
    padding-right: 100px;
}

